<!-- default solidus code -->
<!-- 
<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        SOLIDUS WITH THEME (https://www.free-css.com/assets/files/free-css-templates/preview/page287/beautiflie/)
      </h1>

      <p class="subtitle">
        GYANDIPSINH CHAUHAN (SR.SOFTWARE ENGINEER)
      </p>
    </div>
  </div>
</section>
 -->

<!-- banner section start -->
<div class="banner_section layout_padding">
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h1 class="banner_taital">ROYAL<br>RAJPUTANA</h1>
                     <p class="banner_text">Rajput bardic accounts describe the Chauhans as one of the four Agnikula Rajput clans which claims to have originated from a sacrificial fire-pit (agnikunda) at Mount Abu to fight against the Asuras or demons whereas in context Agnikula is considered as another branch of Suryavanshi Rajput descent.<br><br>GYANDIPSINH CHAUHAN (SR. SOFTWARE ENGINEER)</p>
                     <div class="read_bt"><a href="https://de.linkedin.com/in/gyandipsinh-chauhan-5b46a613a?trk=org-employees_profile-result-card_result-card_full-click" target="_blank">Contact Now</a></div>
                  </div>
                  <div class="col-sm-6">
                     <div class="banner_img"><%= image_tag('banner-img.png') %></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h1 class="banner_taital">ROYAL <br>RAJPUTANA</h1>
                     <p class="banner_text">Rajput bardic accounts describe the Chauhans as one of the four Agnikula Rajput clans which claims to have originated from a sacrificial fire-pit (agnikunda) at Mount Abu to fight against the Asuras or demons whereas in context Agnikula is considered as another branch of Suryavanshi Rajput descent.<br><br>GYANDIPSINH CHAUHAN (SR. SOFTWARE ENGINEER)</p>
                     <div class="read_bt"><a href="https://de.linkedin.com/in/gyandipsinh-chauhan-5b46a613a?trk=org-employees_profile-result-card_result-card_full-click" target="_blank">Contact Now</a></div>
                  </div>
                  <div class="col-sm-6">
                     <div class="banner_img"><%= image_tag('banner-img.png') %></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h1 class="banner_taital">ROYAL <br>RAJPUTANA</h1>
                     <p class="banner_text">Rajput bardic accounts describe the Chauhans as one of the four Agnikula Rajput clans which claims to have originated from a sacrificial fire-pit (agnikunda) at Mount Abu to fight against the Asuras or demons whereas in context Agnikula is considered as another branch of Suryavanshi Rajput descent.<br><br>GYANDIPSINH CHAUHAN (SR. SOFTWARE ENGINEER)</p>
                     <div class="read_bt"><a href="#">Buy Now</a></div>
                  </div>
                  <div class="col-sm-6">
                     <div class="banner_img"><%= image_tag('banner-img.png') %></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h1 class="banner_taital">ROYAL <br>RAJPUTANA</h1>
                     <p class="banner_text">Rajput bardic accounts describe the Chauhans as one of the four Agnikula Rajput clans which claims to have originated from a sacrificial fire-pit (agnikunda) at Mount Abu to fight against the Asuras or demons whereas in context Agnikula is considered as another branch of Suryavanshi Rajput descent.<br><br>GYANDIPSINH CHAUHAN (SR. SOFTWARE ENGINEER)</p>
                     <div class="read_bt"><a href="https://de.linkedin.com/in/gyandipsinh-chauhan-5b46a613a?trk=org-employees_profile-result-card_result-card_full-click" target="_blank">Contact Now</a></div>
                  </div>
                  <div class="col-sm-6">
                     <div class="banner_img"><%= image_tag('banner-img.png') %></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- banner section end -->
