<!-- default solidus code -->
<!-- 
<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        SOLIDUS WITH THEME (https://www.free-css.com/assets/files/free-css-templates/preview/page287/beautiflie/)
      </h1>

      <p class="subtitle">
        GYANDIPSINH CHAUHAN (SR.SOFTWARE ENGINEER)
      </p>
    </div>
  </div>
</section>
 -->

<!-- banner section start -->
<div class="banner_section layout_padding">
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h1 class="banner_taital">GYANDIP<br>CHAUHAN</h1>
                     <p class="banner_text">SOLIDUS WITH THEME (https://www.free-css.com/assets/files/free-css-templates/preview/page287/beautiflie/)</p>
                     <div class="read_bt"><a href="#">Buy Now</a></div>
                  </div>
                  <div class="col-sm-6">
                     <div class="banner_img"><%= image_tag('banner-img.png') %></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h1 class="banner_taital">Beauty <br>Kit</h1>
                     <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                     <div class="read_bt"><a href="#">Buy Now</a></div>
                  </div>
                  <div class="col-sm-6">
                     <div class="banner_img"><%= image_tag('banner-img.png') %></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h1 class="banner_taital">Beauty <br>Kit</h1>
                     <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                     <div class="read_bt"><a href="#">Buy Now</a></div>
                  </div>
                  <div class="col-sm-6">
                     <div class="banner_img"><%= image_tag('banner-img.png') %></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h1 class="banner_taital">Beauty <br>Kit</h1>
                     <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                     <div class="read_bt"><a href="#">Buy Now</a></div>
                  </div>
                  <div class="col-sm-6">
                     <div class="banner_img"><%= image_tag('banner-img.png') %></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- banner section end -->
